:root {
  font-family: "Poppins", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(var(--text));
  background-color: rgb(var(--background));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --box-shadow:
          inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
          0 0 0 1px hsla(0, 0%, 0%, 0.05),
          0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
          0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
          0 3.5px 6px hsla(0, 0%, 0%, 0.09);

}

:root[data-theme="light"] {
  --text: 12, 14, 15;
  --background: 248, 250, 251;
  --primary: 43, 96, 162;
  --secondary: 137, 183, 224;
  --accent: 84, 161, 228;
}
:root[data-theme="dark"] {
  --text: 241, 243, 244;
  --background: 4, 6, 6;
  --primary: 94, 147, 212;
  --secondary: 31, 77, 117;
  --accent: 27, 104, 172;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  background-color: var(--background);
}

#app  {
  margin: 0;
  flex: 1;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.material-symbols-rounded {
  display: inline-block;
  vertical-align: middle;
}

/* --------Header-------- */

.header-top {
  background-color: rgb(var(--background));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5em;
  width: 100%;
  overflow: hidden;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: var(--box-shadow);

  z-index: 10;
}

.header-top .container {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: clamp(30px, 6vh, 54px);
  align-items: center;
  gap: 0.5em;
}

.header-top .logo {
  border: none;
  border-radius: 50%;
  height: calc(clamp(30px, 6vh, 54px)*0.75); /* idk why pls fix */
  aspect-ratio: 1/1;
  display: block;
}

.header-top h1 {
  font-size: 1rem;
  color: rgb(var(--text));
  /*text-shadow: 1px 1px 0 var(--text);*/
}

.logo-link {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.5em;
  text-decoration: none;
}

.header-top .header-btn {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin-left: auto;
}

.header-top i {
  display: block;
  color: rgb(var(--text));
  cursor: pointer;
}

.header-btn a {
  text-decoration: none;
}

.header-btn .nav-btn {
  display: block;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}


/* ---------Nav---------- */

nav {
  width: 100%;
  margin: 0;
  background-color: rgb(var(--background));
  color: rgb(var(--text));
  overflow: hidden;
  transition: top 0.15s ease-out;
  position: fixed;
  top: clamp(30px, 6vh, 54px);
  max-height: none;
  z-index: 9;
}


nav a  {
  display: block;
  width: 100%;
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  transition: background-color 0.15s ease-out;
  border-bottom: 2px solid rgba(var(--text), 0.1);
}

nav a:hover, nav button:hover {
  color: inherit;
  background-color: rgb(var(--accent), 0.5);
}

nav button {
  display: block;
  font-size: inherit;
  font-weight: bold;
}

nav span {
  margin: 0;
  display: block;
  padding: 0.5em 2em;
}


.hidden {
  top: -100%;
}

.overlay {
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  inset: 0;
  z-index: 8;
  display: none;
}

nav:not(.hidden) ~ .overlay {
  display: block
}

.toggle-dark-mode {
  border: none;
  display: flex;
  gap: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  background-color: rgba(var(--accent), 0.1);
  color: rgb(var(--text));
}

@media screen and (min-width: 1000px) {
  .hidden {
    top: 0;
  }

  nav {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
  }

  nav a {
    font-weight: normal;
    font-size: 0.8rem;
    border-bottom: none;
    display: flex;
    align-items: center;
  }

  .header-top .nav-btn  {
    display: none;
  }

  .header-top .header-btn {
    margin-right: 1rem;
  }

  .top-nav a {
    width: fit-content;
  }

}
/* ---------------------- */
/* --------Footer-------- */

footer {
  display: block;
  margin-top: 2em;
  background-color: #213547;
  color: whitesmoke;
}


/* ---------Main--------- */

main {
  display: grid;
}

.main-diktat-asis {
  grid-template-columns: minmax(0.25em, 1fr) minmax(auto, 1600px) minmax(0.25em, 1fr) ;
  gap: 1em;
}

main header {
  height: auto;
  grid-column: 1 / -1;
  display: block;
  width: 100%;
}

.intro-container {
  grid-column: 1 / -1;
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: rgba(var(--primary),0.1);
}


.intro {
  padding: 1em 0;
  max-width: min(calc(100% - 2em), 1600px);
  margin: 0 auto;
}


main h1 {
  margin: 0;
  font-size: 1.5rem;
}

main h2 {
  margin: 0;
  font-size: 0.75rem;
  color: rgb(var(--accent));
}

select {
  display: inline-block;
  font-family: inherit;
  color: rgb(var(--text));
  accent-color: rgb(var(--text));
  font-weight: bold;
  padding: 0.25em 0.5em;
  width: auto;
  border: none;
  border-radius: 3px;
  background-color: rgba(var(--secondary), 0.25);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

select:focus:not(:focus-visible){ outline: 0; }

select option {
  background-color: rgba(var(--secondary), 0.25);
  accent-color: rgb(var(--text));
  color: rgb(var(--text));
  border: none;
  font-family: inherit;
}

.main-main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-intro-container {
  position: relative;
  isolation: isolate;
  color: rgb(var(--background));
  background: rgba(var(--primary), 0.1);
  max-width: 100%;
}

.main-intro-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background:  url("/background-home-hero.webp") no-repeat center center;
  background-size: cover;
  filter: blur(1px) brightness(0.5);
  z-index: -1;
}

.main-intro {
  margin: 0 auto;
  max-width: none;
  width: clamp(200px, 90%, 1000px);
}

.main-intro h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  color: rgb(248, 250, 251);
  display: block;
}

.main-intro h2 {
  font-size: clamp(1rem, 2.5vw, 1.66rem);
  text-shadow: 1px 1px 1px 1px rgba(0,0,0, 0.5);
}

.content-main {
  display: flex;
}

.proker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.proker {
  padding: 1rem 0 ;
  width: clamp(200px, 90%, 1000px);
  position: relative;
  border-bottom: 2px solid rgba(var(--text), 0.3);
}


::-webkit-scrollbar {
  height: 6px;
  width: 12px;
  background: rgb(var(--background));
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--accent), 0.75);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #000;
}
.scroll-btn-container {
  position: absolute;
  top: 1rem;
  right: 0;
}

.scroll-btn {
  cursor: pointer;
  border: none;
  background: none;
  color: rgb(var(--primary));
  transition: all 0.15s ease-in-out;
}

.scroll-btn-left:hover {
  transform: translateX(-2px);
}

.scroll-btn-right:hover {
  transform: translateX(2px);
}

@media screen and (max-width: 600px) {
  .scroll-btn-container {
    display: none;
  }
}
.proker h2 {
}

.proker-content-container {
  display: flex;
  gap: 1rem;
  padding: 1rem  0;
  overflow-x: auto;
  width: 100%;
}

.proker-description {
  display: block;
  line-height: 2;
  text-align: justify;
  margin: 0;
  max-width: 20rem;
  flex-shrink: 0;
}

.proker-container h2 {
  font-size: 1.86rem;
  color: rgb(var(--text));
}

.proker-cards {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  overflow-x: visible;
}


.proker-cards .proker-card {
  padding: 1rem;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  color: inherit;
  text-decoration: none;
  box-shadow: var(--box-shadow);
  max-width: 300px;
  transition: box-shadow 0.15s ease-in-out;
}

.proker-card .material-symbols-rounded {
  vertical-align: top;
  display: inline-flex;
  font-size: 1.86rem;
}

.proker-cards .proker-card:hover {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 8px 0 rgba(0, 0, 0, 0.19);
}

.proker-cards .proker-card h2 {
  font-size: 1.25rem;
}

@media screen and (max-width: 600px) {
  .proker-content-container {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .proker-description {
    max-width: none;
    line-height: 1.5;
  }

  .proker-cards {
    width: 100%;
    overflow-x: auto;
    padding: 0.5rem 0;
  }
  .proker-cards .proker-card {
    width: 80%;
    flex-shrink: 0;
  }
}


/* ---------------------- */
/* ---------card--------- */

.content-diktat-asis {
  grid-column: 2/3;
}

.cards-container {
  display: grid;
  grid-auto-rows: clamp(280px, 280px, auto);
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-items: center;
  width: 100%;
  gap: 1em;
}

@media (max-width: 860px) {
  .cards-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media (max-width: 480px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}

.card {
  width: 100%;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: space-between;
  background-color: rgba(var(--primary), 0.05);
}

.no-results {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card h1 {
  margin: 0;
  font-size: 1.125rem;
}

.card h2 {
  margin: 0;
  color: rgb(var(--accent));
  font-size: 0.75rem;
  font-weight: bold;
}

.card .btn-container {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.card .btn {
  display: block;
  text-align: center;
  padding: 0.25em 0;
  border: 1px solid rgba(var(--secondary), 0.35);
  color: rgb(var(--text));
  border-radius: 8px;
  background-color: rgba(var(--secondary), 0.25);
  transition: background-color 0.15s ease-in-out;
}

.card .btn:hover {
  background-color: rgba(var(--secondary), 0.5);
}

.card a {
  color: rgb(var(--text));
  font-weight: bold;
  text-decoration: none;
}


.card img {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100px;
  border: none;
  border-radius: 5px;
  font-style: italic;
}

.card:nth-child(3n) img { background-color: mediumspringgreen }
.card:nth-child(3n + 1) img { background-color: #4A8CFF }
.card:nth-child(3n + 2) img { background-color: #747bff }

/* ---------------------- */


